*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins", sans-serif;
}


body{
    min-height:100vh;
    background:url(img1.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}

.header{
    position:sticky;
    top: 0;
    width:100%;
    padding: 1.3rem 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    background:rgba(0,0,0,.1);
    backdrop-filter:blur(50px);
    
    }

.header::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}
/* Define keyframes for the glowing effect */
@keyframes glow {
    0% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
    50% { box-shadow: 0 0 20px rgba(255, 255, 255, 0.9); }
    100% { box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
  }
  
.Logo{
    font: size 5rem;
    color:rgb(54, 190, 190);
    text-decoration: none;
    font-weight:700;
    height:80px;
    width:80px;
    animation:glow 2s infinite alternate;
    border-radius: 12px;

}
.navbar a {
    font-size:1.50rem;
    color:#fff;
    text-decoration:none;
    font-weight:500;
    margin-left:10rem;

}

.icons{
    position :absolute;
    font-size:2.8rem;
    right: 1%;
    color:white;
    cursor:pointer;
    display:none;
}
/*breakpoints*/

@media(max-width:992px){
    .header{
        padding:1.3rem 5%;
    }

    }
@media(max-width:768px){

}
   .content{
    align-items: center;
    display:flex;
    text-align: center;
    color: aliceblue;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    color: rgb(0, 247, 255);
    font-family:
    font-size:35px;
   }
  
   